<!DOCTYPE html>
<html>
<head>
<h1><br/>Cunning Wizzards !!! <img class="img-responsive" src="assets/Wizzard.jpg"></h1>
</head>
<body>
<h2>Register Now !!!</h2>
<div >
    Full Name : &emsp;
    <input type="text" placeholder="Enter Your Full Name"  required><br/><br/>
    Email : &emsp;
    <input type="text" placeholder="abc@xyz.com" required><br/><br/>
    Mobile : &emsp;
    <input type="text" required><br/><br/> 
    City : &emsp;
    <input type="text" placeholder="City of Residence" required>&emsp; 
    <ul>
        <li>DOB : <input type="date" required> </li>
        <li>State : <input type="text" required> </li>
    </ul>
    Qualification : &emsp;
    <input type="text" required ><br/><br/>
    Year of Completion : &emsp;
    <input type="text" required><br/><br/>
    <textarea> Captcha</textarea> &nbsp; 
    <input type="text" required placeholder="Enter the text shown"> &nbsp;
    <button ><a routerLink="/reset-password">Register and Set Password</a></button><br/><br/>
</div>
</body>