<h1><br/>Cunning Wizzards !!! <img class="img-responsive" src="assets/Wizzard.jpg"></h1>
<body>
<div>
<nav class="navbar navbar-light bg-light">
  <button>
  <a class="navbar-brand" routerLink="/home-page">Home</a>&emsp;
</button>
<button>
  <a class="navbar-brand" routerLink="/register">Register</a>&emsp;
</button>
<button>
  <a class="navbar-brand" routerLink="/user-login">Candidate Login</a>&emsp;
</button>
<button>
  <a class="navbar-brand" routerLink="/admin-login">Admin Login</a>&emsp;
</button>
</nav>
</div>
</body>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>