<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="mr-auto">
    <a class="navbar-brand mr-auto" routerLink="/home">
      <img class="img-responsive" src="assets/Wizzard.jpg" style="height: 50px; width: auto" alt="">
      Cunning Wizzards
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/login">Admin</a>
          <a class="dropdown-item" routerLink="/login">User</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container alert alert-secondary" style="height: 200vh; text-align-last: center; padding-top: 5%;">
  <router-outlet></router-outlet>
</div>
