<!DOCTYPE html>
<html>
<head>
<h1><br/>Cunning Wizzards !!!<img class="img-responsive" src="assets/Wizzard.jpg"></h1>
</head>
<body>
    <h2>Technologies !!!</h2>
    <div style="text-align: center;">
        <p>Select from the technoogies Listed Below : </p>
      <form>
         <select name = "dropdown">
            <option value = "C_Sharp" selected>C Sharp</option>
            <option value = "Java">Java</option>
            <option value = "SQL">SQL</option>
            <option value = "PHP">PHP</option>
            <option value = "Python">Python</option>
            <option value = "C_C++">C/C++</option>
         </select>
         <select name = "dropdown">
            <option value = "Level1" selected>Level 1</option>
            <option value = "Level2">Level 2</option>
            <option value = "Level3">Level 3</option>
            </select>
      <button ><a routerLink="/instructions">Take Test ...</a></button>
      
      <button ><a routerLink="/home-page">Logout</a></button><br/><br/>
    </form>
    </div>
</body>

